 .w-btn-outline {
          /*width: 100px;*/
          /*height: 30px;*/
          position: relative;
          padding: 15px 30px;
          border-radius: 15px;
          font-family: "paybooc-Light", sans-serif;
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          text-decoration: none;
          font-weight: 600;
          transition: 0.25s;
      }

      .w-btn-red-outline {
          border: 3px solid #ff5f2e;
          color: #6e6e6e;
      }

      .w-btn-red-outline:hover {
          background-color: #ff5f2e;
          color: #e1eef6;
          cursor: pointer;
      }

      #txt {
          width: 200px;
          height: 32px;
          font-size: 15px;
          border: 0;
          border-radius: 15px;
          outline: none;
          padding-left: 10px;
          background-color: rgb(233, 233, 233);
      }
      #container {
				display: block;
			}